body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 94vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  border-right: 1px solid #dedede;
}

.rounded {
  cursor: pointer;
}

.products-sort {
  width:80%;
  display: flex;
  flex-direction: column;
}

.active {
  background-color: #d2f4ea;
}
.paginate-active {
  background-color: #e9ecef;
  border-color: #e9ecef;
}
